
/* Colour Palette */

$primary-color: #FDc700;
$secondary-color: #ffeca8;
$primary-color-accent: #FFFFFF;
$secondary-color-accent: #FFFFFF;
$dark-color: #262626;
$success-color: #FFFFFF;
$warning-color: #FFFFFF;
$error-color: #FFFFFF;